* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./images/homeImg.jpg'); /* Set background image */
    background-size: cover; /* Cover the entire body */
    background-position: center; /* Center the image */

}

.container {
    text-align: center;
    background: white; /* Fallback color */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}

header {
    margin-bottom: 30px;
}

h1 {
    color: #4a90e2;
    margin: 0;
}

p {
    margin: 10px 0 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    display: inline-block;
    padding: 15px 20px;
    background-color: #4a90e2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
}

.btn:hover {
    background-color: #357ab8;
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
}